body {
    font-family: Helvetica, sans-serif;
    background-color: black;
    color: gray;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    text-align: center;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    position: fixed;
    z-index: 1;

 }

 header img {
    height: 50px;
 }


 header ul {
    padding: 0 2%;
 }

 header li {
    display: inline-block;
 }

 header a {
    color: gray;
 }

 main {
    position: relative;
    top: 70px;
}

 #hero {
    height: 700px;
    max-width: 1200px;
    background-image: url(../images/img-mission-background.jpg);
    background-position: center;
    margin: 40px auto;
    margin-bottom: 100px;
    display: flex;
 }

 #hero-text {
    margin: auto;
    width: 100%;
    background-color: black;

 }

 #middle {
   max-width: 1200px;
   margin: 40px auto;
 }

 #middle-images {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
 }

 #middle-images img {
   /* height: 200px; */
   /* padding: 0; */
   width: 300px;
 }

 figure {
   margin: 0;
   padding: 1%;
}

figcaption {
   text-align: center;
   font-weight: bold;
   padding: 2% 0 0 0;
}

#bottom {
   height: 500px;
   max-width: 1200px;
   margin: 0 auto;
   background-image: url('../images/img-locations-background.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   /* display: flex; */
}

#bottom h2 {
   display: flex;
   justify-content: center;
   position: relative;
   top: 100px;
}

#text-boxes {
   display: flex;
   max-width: 1200px;
   justify-content: center;
   align-items: center;
   position: relative;
   top: 100px;
   flex-wrap: wrap;
}



.text-box {
   background-color: black;
   width: 300px;
   margin: 1%;
   
   text-align: center;
}

#calling-card {
   text-align: center;
   height: 200px;
}


footer {
   text-align: left;
   margin: 0 20px;
}